@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu:wght@400;700&display=swap');

*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
}
 .App{
  padding: 10px 30px;
 }

.label{
  font-size: 12px;
  color: #333333;
  margin-bottom: 5px;
}
h1 {
  margin-bottom: 30px;
}
.small {
  font-size: 12px;
  color: #828282;
  margin-bottom: 5px;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.container div {
  margin-right: 80px;
  min-width: 260px;
}